{% extends "base.html" %}

{% block title %}Administración de mesas{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-6 col-md-12">
    <div class="card bg-dark text-light mt-5">
      <div class="card-body">
        <h2 class="text-center text-light">Pedido #{{ pedido.id }}</h2>
        <p class="text-center text-light">
          {% if pedido.detalle %}
          Detalle: {{ pedido.detalle }}
          {% else %}
          Sin comentarios
          {% endif %}
        </p>
        <div class="table-responsive">
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Detalle</th>
                <th>Estado</th>
              </tr>
            </thead>
            <tbody class="table-light">
              {% for producto in productos %}
              <tr>
                <td>{{ producto.producto }}</td>
                <td>{{ producto.cantidad }}</td>
                <td>{{ producto.detalle }}</td>
                <td>{{ producto.estado }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12">
    <div class="card bg-info text-dark mt-5">
      <div class="card-body">
        <h2>Agregar productos</h2>
        <input type="search" id="buscarProductos" placeholder="Buscar productos..." class="form-control">
        <div class="row" id="coindicencias">
          
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{{ url_for('static', filename='js/producto_orden.js') }}"></script>
{% endblock %}