{% extends "base.html" %}

{% block title %}Administración de productos{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-4 col-md-4">
    <div class="card bg-dark text-light mt-5">
      <div class="card-body">
        <h2 class="text-center text-light">Crear producto</h2>
        <p class="text-center text-light">Creación de productos para el menú</p>

        <form method="POST" enctype="multipart/form-data">

          {{ form.hidden_tag() }}

          <div class="mb-3">
            {{ form.nombre.label(class="form-label text-light") }}
            {{ form.nombre(class="form-control") }}
          </div>

          <div class="mb-3">
            {{ form.descripcion.label(class="form-label text-light") }}
            {{ form.descripcion(class="form-control") }}
          </div>

          <div class="mb-3">
            {{ form.precio.label(class="form-label text-light") }}
            {{ form.precio(class="form-control") }}
          </div>

          <div class="mb-3">
            {{ form.categoria.label(class="form-label text-light") }}
            {{ form.categoria(class="form-select") }}
          </div>

          <div class="mb-3">
            {{ form.imagen.label(class="form-label text-light") }}
            {{ form.imagen(class="form-control") }}
          </div>

          <button class="btn btn-primary btn-block">
            {{ form.submit(class="btn btn-primary btn-block") }}
          </button>

        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-8 col-md-8">
    <div class="card bg-dark text-light mt-5">
      <div class="card-body">
        <h2 class="text-center text-light">Listar poductos</h2>
        <div class="container table-responsive">
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th>ID</th>
                <th>Imágen</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th colspan="3">Acciones</th>
              </tr>
            </thead>
            <tbody class="table-light">
              {% for producto in productos_paginados %}
              <tr>
                <td>{{producto.id}}</td>
                <td>
                  <img src="{{ url_for('static', filename='images/' + producto.imagen) }}" class="img-fluid" alt="{{producto.nombre}}" style="width: 3rem; height: 3rem;">
                </td>
                <td>{{producto.nombre}}</td>
                <td>{{producto.descripcion}}</td>
                <td>${{producto.precio}}</td>
                <td>
                  <button type="button" class="btn btn-sm btn-info" onclick="eliminarProducto({{ producto.id }})">
                    <i class='bx bx-info-circle'></i>
                  </button>
                </td>
                <td>
                  <button type="button" class="btn btn-sm btn-warning" onclick="eliminarProducto({{ producto.id }})">
                    <i class='bx bx-edit'></i>
                  </button>
                </td>
                <td>
                  <button type="button" class="btn btn-sm btn-danger" onclick="eliminarProducto({{ producto.id }})">
                    <i class='bx bx-trash'></i>
                  </button>
                </td>

              </tr>
              {% endfor %}
            </tbody>
          </table>
          <ul class="pagination">
            {% for pag_num in productos_paginados.iter_pages() %}
            {% if pag_num %}
            {% if productos_paginados.page == pag_num %}
            <li class="page-item active"><span class="page-link">{{ pag_num }}</span></li>
            {% else %}
            <li class="page-item"><a class="page-link"
                href="{{ url_for('producto_menu.adm_producto', pagina=pag_num, elementos=5) }}">{{ pag_num }}</a>
            </li>
            {% endif %}
            {% else %}
            <span class="ellipsis">...</span>
            {% endif %}
            {% endfor%}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{{ url_for('static', filename='js/producto_menu.js') }}"></script>
{% endblock %}