<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% block title %}Mi Aplicación{% endblock %}</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://bootstrap.themes.guide/herbie/theme.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@2.0.7/css/boxicons.min.css">
</head>

<body class="bg-light text-light">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">

      <a class="navbar-brand" href="#">Mi App</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('usuario_route.cerrar_sesion') }}">Cerrar sesión</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Administración
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{ url_for('categorias_menu.adm_categoria') }}">Categorías</a></li>
              <li><a class="dropdown-item" href="{{ url_for('producto_menu.adm_producto') }}">Productos</a></li>
              <li><a class="dropdown-item" href="{{ url_for('mesas.mesas_admin') }}">Mesas</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="{{ url_for('pedido.ver_todos') }}">Ver pedidos</a></li>
            </ul>
          </li>
          <li class="nav item">
            <a href="{{ url_for('pedido.crear') }}" class="btn btn-success">
              Crear pedido
            </a>
          </li>
          {% else %}
          <li class="nav-item">Inicia sesión o <a href="{{ url_for('usuario_route.registro') }}"
              class="link-primary">regístrate</a> para acceder al sitio</li>
          {% endif %}
        </ul>
      </div>

    </div>
  </nav>

  <div class="container my-3">
    <div id="flashes">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
    </div>
  </div>

  <div class="container mt-3">

    <div class="content">
      {% block content %}{% endblock %}
    </div>

  </div>

  <footer class="bg-dark text-light text-center mt-3 py-3">
    <p class="mb-0">&copy; 2023 Mi App</p>
  </footer>

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

    <script src="{{ url_for('static', filename='js/config.js') }}"></script>

  {% block scripts %}{% endblock %}

</body>

</html>